**/target/
**/src/test/javascript/coverage/
**/src/test/javascript/PhantomJS*/

**/node/
**/node_tmp/
**/node_modules/
npm-debug.log.*

**/.sass-cache/

*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

.vscode/

/log/
/target/

*.jar
*.war
*.ear
*.db

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

.DS_Store
.svn

._*

.Spotlight-V100
.Trashes

**/bin/
**/deploy/

*.log

*.class
*.*~
*~
.merge_file*

!.mvn/wrapper/maven-wrapper.jar

.eslintcache

!*.lock

*AbsaApplication.zip
D:\\*
